<div class="card-header" style="font-size: 1.5em; text-align: center; font-weight: bold">
    <a href="#" target="_blank">{{ book?.name }}</a>
</div>
    <div class="card-body">
        <h6 class="card-text">ID : {{ book?.id }}</h6>
        <h6 class="card-text">Author(s) : {{ book?.authors }}</h6>
        <h6 class="card-text">ISBN : {{ book?.isbn }}</h6>
    </div>

<div class="card-footer text-center">
    <div class="btn-group btn-block" role="group">
        <button type="button" class="btn btn-secondary" [routerLink]="['form', book?.id]">Edit</button>
        <button type="button" class="btn btn-danger" style="border-top-right-radius:5px; border-bottom-right-radius:5px" data-bs-toggle="modal" data-bs-target="#delModal">Delete</button>

        <!-- Modal -->
        <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="delModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Do you really want to delete this book? This process cannot be undone.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteBook(book?.id)">Delete</button>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>
