
<div class="card-header" style="font-size: 1.5em; text-align: center; font-weight: bold">
    <a href="#" target="_blank">{{ book?.name }}</a>
</div>
    <div class="card-body">
        <h4 class="card-text">ID : {{ book?.id }}</h4>
        <h4 class="card-text">Author(s) : {{ book?.authors }}</h4>
        <h4 class="card-text">ISBN : {{ book?.isbn }}</h4>
    </div>

<div class="card-footer">
    <div class="btn-group btn-block" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
</div>
