<div class="card text-white bg-dark">
<div class="card-header"><h4 style="font-family: Georgia"><b>{{ blog?.title }}</b></h4></div>
  <div class="card-body">
    <h5 class="card-title">{{ blog?.description }} <br><i>by {{ blog?.author }}</i></h5>
    <p class="card-text">{{ blog?.comments }}</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id="edit" (click)="sendAction()">Edit</button>
        <button type="button" class="btn btn-danger" id="delete" (click)="sendAction()">Delete</button>
    </div>
</div>
</div>