<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 text-white bg-dark">
          <div class="card-body text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/74/74288.png"
              alt="avatar" class="rounded-circle img-fluid"
              style="width: 208px; background: white"/>
            <h3 class="my-3"><b>(Full Name)</b></h3>
            <a class="text-muted mb-4">(email@address.com)</a>
            <p class="text-muted mb-4">(Full Stack Developer)</p>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <form [formGroup]="profileFormGroup" (ngSubmit)="submit()">
            <div class="card mb-4 text-white bg-dark">
                <div class="card-body ">

                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Full Name</p>
                        </div>
                        <div class="col-sm-9">
                            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name"/>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <input formControlName="email" type="text" class="form-control" id="email" placeholder="username@domain.com"/>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Bio</p>
                        </div>
                        <div class="col-sm-9">
                            <textarea formControlName="bio" type="text" class="form-control" id="text" placeholder="Tell me something about yourself"></textarea>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Status</p>
                        </div>
                        <div class="col-sm-9">
                            <!--<input formControlName="id" type="number" class="form-control" id="id" placeholder="ID"/>-->
                            <select class="form-select" id="active" formControlName="active">
                              <option value="" disabled selected>Choose...</option>
                              <option value="Active">Active</option>
                              <option value="Away">Away</option>
                              <option value="Do Not Disturb">Do Not Disturb</option>
                            </select>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-secondary">Cancel</button>
                              </div>
                          </div>
                    </div>

                </div>
            </div>
        </form>
        
      </div>
    </div>
  </div>
</section>
