<br />
<div class="container">
  <div class="row" style="text-align: center">

    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://raw.githubusercontent.com/elyrick/images-src/main/images/blog.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2 style="font-family: Georgia; font-weight: bold">Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        <a class="btn btn-secondary" [routerLink]="['/blog']" role="button"
          >View details &raquo;</a
        >
      </p>
    </div>

    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://raw.githubusercontent.com/elyrick/images-src/main/images/book.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2 style="font-family: Georgia; font-weight: bold">Books</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        <a class="btn btn-secondary" [routerLink]="['/book']" role="button"
          >View details &raquo;</a
        >
      </p>
    </div>
    
    <div class="col-lg-4">
      <img
        class="rounded-circle"
        src="https://raw.githubusercontent.com/elyrick/images-src/main/images/more.png"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2 style="font-family: Georgia; font-weight: bold">More</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" target="_blank" role="button"
          >View details &raquo;</a
        >
      </p>
    </div>
    
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" style="font-family: Georgia; font-weight: bold">
        Featured Blog<br /></h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto"
        src="https://raw.githubusercontent.com/elyrick/images-src/main/images/jpn-2020_1.jpeg"
        alt="Generic placeholder image"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading" style="font-family: Georgia; font-weight: bold">
        Featured Book</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        class="featurette-image img-fluid mx-auto"
        src="https://raw.githubusercontent.com/elyrick/images-src/main/images/book-featurette.jpg"
        alt="Generic placeholder image"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading" style="font-family: Georgia; font-weight: bold">
        Reviews</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto"
        src="https://raw.githubusercontent.com/elyrick/images-src/main/images/Book-Review-Blogs.jpg"
        alt="Generic placeholder image"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->

<!-- FOOTER -->
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>
    &copy; 2022 ERM &middot; <a href="#">Privacy</a> &middot;
    <a href="#">Terms</a>
  </p>
</footer>
